<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="scss/style.css" />
    <link rel="stylesheet" href="scss/font-awesome/css/all.css">
  </head>
</html>
<body>
  <div><h1>CALCULATOR APP</h1></div>